@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root{
    /* 밝기 모드에 따른 공통 컬러 */
    --fff-333: #fff;
    --zero-eee: #000;
}

*,body{
    margin: 0;padding: 0;
    box-sizing: border-box;
    vertical-align:middle;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}
body{
    background-color: #f5f5f5;
    width: 100%; height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
#mode{
    width: 80%;
    min-width: 300px;max-width: 600px;
    height: 37px;
}
#mode .bar{
    position: relative;
    float: right;
    width: 80px;height: 37px;
    background-color: #333;
    border-radius: 50px;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mode .bar div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
#mode .bar div.sun{
    color: #333;
}
#mode .bar div.moon{
    color: #fff;
}
#mode .bar .circle{
    position: absolute;left: 3px;
    width: 30px;height: 30px;
    background-color: var(--fff-333);
    border-radius: 50px;
    transition: .3s;
}

#list-wrap{
    width: 80%;
    min-width: 300px;max-width: 600px;
}
#list-wrap h1{
    font-size: 20px;
    padding: 5px;
    color: var(--zero-eee);
}
#list-wrap .add-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#list-wrap .add-wrap input#text{
    flex: 2;
    margin: 0 3px;
    height: 50px;
    line-height: 50px;
    border: 2px solid var(--zero-eee);
    border-radius: 7px;
    text-indent: 10px;
    background-color: var(--fff-333);
}
#list-wrap .add-wrap input#text::placeholder{
    color: #aaa;
}
#list-wrap .add-wrap button{
    width: 50px;height: 50px;
    margin: 0 3px;
    background-color: var(--zero-eee);
    color: #fff;font-size: 30px;
    border: none;border-radius: 10px;
}
#list-wrap .add-wrap button:hover{
    transform: scale(1.07);transition: .3s;
}
#list-wrap .add-wrap button:active{
    transform: scale(0.95);transition: .3s;
}

#list-wrap .lists{
    margin-top: 40px;
    background-color: var(--fff-333);
    border-radius: 10px;
    box-shadow: 0 5px 3px #eee;
    color: var(--zero-eee);

    max-height: 500px;
    overflow-y: auto;
}
#list-wrap .lists li{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
}
#list-wrap .lists li:last-child{
    border: none;
}
#list-wrap .lists li span{
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
#list-wrap .lists li span.check{
    float: left;
    display: flex;justify-content: center;align-items: center;
    width: 23px;height: 23px;
    margin-right: 15px;
    border: 2px solid #000;border-radius: 50px;
    font-size: 12px;color: var(--fff-333);
}
#list-wrap .lists li span.delete{
    float: right;
    color: var(--zero-eee);
    margin-top: -3px;
}
#list-wrap .lists li.clear{
    color: #aaa;
    text-decoration:line-through;
}
#list-wrap .lists li.clear span.check{
    background-color: #aaa;
    border-color: #aaa;
    color: #fff;
}
